[submodule "vllm"]
	path = vllm
	url = https://github.com/mmoskal/vllm
	branch = hooks
[submodule "candle"]
	path = candle
	url = https://github.com/mmoskal/candle
[submodule "candle-flash-attn/cutlass"]
	path = candle-flash-attn/cutlass
	url = https://github.com/NVIDIA/cutlass.git
