[submodule "vllm"]
	path = py/vllm
	url = https://github.com/mmoskal/vllm
	branch = hooks
[submodule "tch-cuda/cutlass"]
	path = rllm/tch-cuda/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "llama-cpp-low/llama.cpp"]
	path = rllm/llama-cpp-low/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "py/guidance"]
	path = py/guidance
	url = https://github.com/hudson-ai/guidance
	branch = lazy_grammars
[submodule "controllers/toktrie"]
	path = controllers/toktrie
	url = https://github.com/microsoft/toktrie
[submodule "controllers/derivre"]
	path = controllers/derivre
	url = https://github.com/microsoft/derivre
