[package]
name = "rllm-llamacpp"
version = "0.1.0"
edition = "2021"
rust-version = "1.81.0"

[dependencies]
actix-web = "4.4.0"
anyhow = "1.0.79"
clap = { version = "4.4.18", features = ["derive"] }
llama_cpp_low = { path = "../llama-cpp-low" }
log = "0.4.20"
rllm = { path = "../rllm-base" }
aicirt = { path = "../../aicirt" }
rand = "0.8.5"

[[bin]]
name = "rllm-llamacpp"
path = "src/rllm-llamacpp.rs"

[features]
default = []
cuda = ["llama_cpp_low/cuda"]
